{# vim: set ft=jinja: #}
{# Will resolve to a greeting to the current user #}
Hello {% if PUNKTF_TARGET_FAMILY == "windows" %}{{ env_USERNAME }}{% elif PUNKTF_TARGET_FAMILY == "unix" %}{{ env_USER }}{% else %}Unknown{% endif %}
